/*
CSS responsive

CONTENT
-------
1.) generel fade in/ out
2.) responsive individual site
 */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* 1.) generel fade in/ out */
@media (min-width: 1400px) {
    header, #breadcrumbs, .content {
        display: block;
    }

    .device-wrapper {
        display: none;
    }

    .content-wrapper {
        width: 75%;
        margin-left: 15%;
    }

    #content {
        position: static;
        display: block;
        height: auto;
    }
}

@media (min-width: 1px) and (max-width: 1399px) {
    header, #breadcrumbs, .device-menu {
        display: none;
    }

    .device-wrapper {
        display: block;
    }

    .content-wrapper {
        width: 100%;
        margin: 0;
    }

    #content, .device-menu ul {
        position: absolute;
        height: calc(100% - 55px);
        top: 55px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .device-menu ul::-webkit-scrollbar, .device-menu ul::-webkit-scrollbar {
        width: 0;
        background: transparent; /* make scrollbar transparent */

    }

    .IE-Firefox-hide-scrollbar {
        overflow: auto;
        -ms-overflow-style: none; /* IE 11 */
        scrollbar-width: none; /* Firefox 64 */
    }
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* 2.) responsive individal site */
@media (min-width: 1px) and (max-width: 1399px) {
    /*  generel */
    /* ========================================================== */
    .device-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow-x: hidden;
    }

    /* ========================================================== */
    /*  .device-lang-navigation */
    /* ========================================================== */
    li.device-lang-navigation div {
        display: inline-block;
    }

    li.device-lang-navigation div img {
        display: inline-block;
        width: 24px;
        height: 16px;
    }

    img.activeLang {
        opacity: 0.3;
    }

    /* ========================================================== */
    /* header-menu */
    ul.device-header, .device-menu ul {
        margin: 0;
        list-style-type: none;
    }

    ul.device-header {
        position: fixed;
        width: 100%;
        height: 46px;
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        background: #F4970B;
        border-bottom: 1px solid black;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    ul.device-header span, ul.device-header a {
        color: #fff;
        text-decoration: none;
    }

    ul.device-header span.active, ul.device-header a.active {
        opacity: 0.6;
    }

    ul.device-header span:hover, ul.device-header a:hover, ul.device-header img:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    ul.device-header li:nth-child(1) span {
        padding-left: 12px;
        font-size: 2rem;
    }

    ul.device-header li:nth-child(2) a {
        padding-left: 4px;
        font-size: 1rem;
    }

    ul.device-header li:nth-child(3), ul.device-header li:nth-child(4) {
        padding-left: 20px;
    }

    ul.device-header li:nth-child(3) a {
        display: inline-block;
        padding: 0;
        margin-left: -1px;
        font-size: 1.2rem;
    }

    /* mobile-menu */
    .device-menu {
        display: none;
        width: 100%;
        height: 100%;
        z-index: 100001;
        transition: 1s;
        text-align: left;
        overflow: hidden;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f388e+0,2e3bd1+30,2d4ace+71,3667f9+100 */
        background: #1f388e; /* Old browsers */
        background: -moz-linear-gradient(left, #1f388e 0%, #2e3bd1 30%, #2d4ace 71%, #3667f9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #1f388e 0%, #2e3bd1 30%, #2d4ace 71%, #3667f9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #1f388e 0%, #2e3bd1 30%, #2d4ace 71%, #3667f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f388e', endColorstr='#3667f9', GradientType=1); /* IE6-9 */
    }

    .device-menu ul {
        width: 100%;
        padding: 0;
    }

    .device-menu ul li {
        padding: 10px 15px;
        margin-bottom: -1px;
        border: 1px solid #888;
        border-left: none;
        border-right: none;
        background-color: #5c5c5c;
        background-color: rgba(255, 255, 255, .1);
    }

    .device-menu ul li a,
    .device-menu ul li a:link,
    .device-menu ul li a:visited,
    .device-menu ul li a:hover,
    .device-menu ul li a:active,
    .device-menu ul li a:focus {
        color: #fff;
        cursor: pointer;
        font-size: 0.94rem;
        text-decoration: none;
    }

    .device-menu ul li a:hover, .device-menu ul li a.active {
        color: #F4970B;
    }
}
/* -------------------------------------------------------------------------- */