/* 
    Document   : contact.css, Part of contact-plugin
    Created on : 07.06.2012, 19:17:53
    Author     : Ihr Webentwickler, Gunnar von Spreckelsen
    Description: realize styling of contactform with spam-images


Content:
1.) generel
2.) Standard-Format Contact-form
3.) Format JQuery Mobile Contact-form
4.) Google-Maps
5.) devices-support
*/

/* 1.) generel */
/* ########################################################################## */
.contactdata {
    min-height: 420px;
    padding: 6px 0 6px 23px;
    border-left: 1px solid #013654;
}

.wait {
    display: none;
    margin: -37px 0 0 210px;
}
/* ########################################################################## */

/* 2.) Standard-Format Contact-form */
/* ########################################################################## */
.contactform {
    width: 446px;
    margin: 6px 0 6px 0;
    display: none;
}

.contactform .message {
    width: 280px;
    margin-bottom: 12px;
    padding-right: 28px; 
    float: right;
}

.contactform form input, .contactform form textarea {
    width: 278px;
    margin-bottom: 6px;
    padding: 3px 0 3px 3px;
}

.contactform form input {
    height: 16px;
}

.contactform form textarea {
    height: 110px;
}

.contactform form label {
    width: 136px;
    margin-right: 4px;
    padding-top: 4px;
    text-align: right;
    float: left;
}

.contactform form label span {
    padding-top: 0;
    vertical-align: top;
}

.contactform form input[type="submit"] {
    width: 100px;
    height: 24px;
}

.contactform form textarea {
    height: 160px;
}
/* ########################################################################## */


/* 3.) Format JQuery Mobile Contact-form*/
/* ########################################################################## */
.ui-page .contactform form .ui-input-text {
    width: 294px;
    height: 32px;
}

.ui-page .contactform form textarea {
    float: left;
    margin-top: -18px;
    width: 294px !important;
    height: 150px !important;
}

.ui-page .contactform form label {
    padding-top: 6px;
}
/* ########################################################################## */


/* 4.) Google-Maps
/* ########################################################################## */
.googlemap {
    width: auto;
    margin-bottom: 12px;
    display: none;
}
/* ########################################################################## */

/* 5.) devices-support */
/* ############################################################################## */
.ui-mobile-viewport #map_canvas {
    display: none;
}

.ui-mobile-viewport #googlemap {
    border: 0;
    padding: 0;
}
/* ############################################################################## */