/* 
    Document   : contact.css, Part of contact-plugin
    Created on : 13.06.2014, 19:17:53
    Author     : Ihr Webentwickler, Gunnar von Spreckelsen
    Description: realize styling of contactform with spam-image
*/

#gmaps {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.adressdata {
    border-top: none;
}

#contact-form .row {
    padding-bottom: 12px;
}

#contact-form .recaptcha:hover {
    cursor: pointer;
    color: #4d5761;
}

#contact-form .spamkeyimage {
    min-height: 30px;
    height: 100%;
}