AddDefaultCharset utf-8

<IfModule mod_autoindex.c>
Options -Indexes
</IfModule>

DirectoryIndex index.php

<IfModule mod_rewrite.c>
RewriteEngine on

# roule new URL
RewriteRule ^(.*)\.html$ index.php?cmd=$1 [L]
</IfModule>

<Files ~ "\.(ini)$">
order allow,deny
deny from all
</Files>

AddType audio/mpeg mp3
AddType audio/mp4 m4a
AddType audio/ogg ogg
AddType audio/ogg oga
AddType audio/webm webma
AddType audio/wav wav

AddType video/mp4 mp4
AddType video/mp4 m4v
AddType video/ogg ogv
AddType video/webm webm
AddType video/webm webmv

php_value upload_max_filesize 20M
php_value post_max_size 20M

ErrorDocument 400 /404.html
ErrorDocument 401 /404.html
ErrorDocument 403 /404.html
ErrorDocument 404 /404.html
ErrorDocument 500 /404.html